.button {
    width: 13rem;
    font-weight: 600;
    background-color: #96b7db;
    color: white;
    border-radius: 10px;
    letter-spacing: 5px;
    border: 3px solid rgba(0, 0, 0, 0);
  }
  
  .button:hover {
    color: white;
    background-color: #6686a8;
  }
  