a {
  color: #242323;
}

a:hover {
  color: #242323;
  text-decoration: none;
}

.cardContainer:first-child {
  margin-top: 15vh;
}

.cardContainer:last-child {
  margin-bottom: 15vh;
}

.cardContainer {
  width: 95%;
  border-color: #ffffff;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 1s;
}

.cardContainer .cardContent {
  width: 100%;
}

.cardContainer .cardContent .cardDescription {
  width: 15rem;
}

.cardContainer .cardContent .cardDescription h1 {
  font-family: "AcuminBold", sans-serif;
  font-size: 2rem;
}

.cardContainer .cardContent .cardImgMobile {
  display: initial;
}

.cardContainer .cardContent .cardImgDesktop {
  display: none;
}

@media (min-width: 400px) {
  .cardContainer .cardContent .cardDescription {
    width: 18rem;
  }
}

@media (min-width: 576px) {
  .cardContainer .cardContent .cardDescription {
    width: 23rem;
  }
}

@media (min-width: 768px) {
  .cardContainer:first-child {
    margin-top: 10vh;
  }

  .cardContainer:last-child {
    margin-bottom: 10vh;
  }

  .cardContainer {
    border-radius: 20px;
    height: 300px;
  }

  .cardContainer .cardContent {
    height: 300px;
  }

  .cardContainer .cardContent .cardDescription {
    width: 15rem;
  }

  .cardContainer .cardContent .cardImgMobile {
    display: none;
  }

  .cardContainer .cardContent .cardImgDesktop {
    display: initial;
  }
}

@media (min-width: 992px) {
  .cardContainer {
    height: 350px;
  }

  .cardContainer .cardContent {
    height: 350px;
  }

  .cardContainer .cardContent .cardDescription {
    width: 23rem;
  }
}

@media (min-width: 1200px) {
  .cardContainer {
    height: 500px;
  }

  .cardContainer .cardContent {
    height: 500px;
  }

  .cardContainer .cardContent .cardDescription {
    width: 20rem;
  }

  .cardContainer .cardContent .cardDescription h1 {
    font-family: "AcuminBold", sans-serif;
    font-size: 2.5rem;
  }
}
